<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>类别</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.desc %></td>
    <% if category.parent_id !=nil %>
    <td><%= category.parent.name %></td>
    <% else %>
    <td>root</td>
    <% end %>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
