<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @category.desc %>
</p>

<p>
  <b>类别:</b>
  <% if @category.parent %>
  <%= @category.parent.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
