<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MyBill", root_path, :class => 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <% if @user %>
            <li><a href="/home"><%= @user.nickname %></a></li>
          <%  else %>
            <li><a href="/auth/weibo">登录</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>